*{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: rgb(255, 245, 231);
}
.container{
    width: 100%;
    
   }

.top{
padding: 40px;
letter-spacing: 3px;
line-height: 1.6;
}
.top p {
    color: rgba(69, 69, 69, 0.789);
}

.middle{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    margin-top: 30px;
}
.search{
    width: 500px;
    height: 50px;
    padding-left: 20px;
    border-radius: 20px;
}

.sel1{
    width: 130px;
    height: 50px;
    border-radius: 20px;
    padding-left: 15px;
}
